@import './Vars.scss';

.header {
  background-color: $color--aqua;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  &__container {
    padding: 20px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__cake_container {
    max-width: 100px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 350px) {
  .header {
    h1 {
      @include font-size(32px);
    }
  }
}
