@import './Vars.scss';

.test5 {
  &__container {
    border-radius: 3px;
    padding: 20px 8px;
    border: 1px solid $color--gray;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h2 {
    margin-top: 0;
  }
  &__solved_p {
    text-align: right;
    max-width: initial;
  }
  &__feliz_cumple {
    text-align: center;
    max-width: initial;
  }
}

@media screen and (max-width: 1000px) {
  .test5 {
    padding: 0 8px;
  }
}
